body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#logoutBtn {
  padding: 10px 15px;
  background-color: #7b61ff;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

#logoutBtn:hover {
  scale: 1.05;
  transition-duration: 250ms;
}

.card {
  background-color: #fff;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-height: 700px;
  overflow: auto;
}

.form {
  display: flex;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.form input {
  width: 70%;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form button {
  padding: 10px 15px;
  background-color: #7b61ff;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.form button:hover {
  scale: 1.05;
  transition-duration: 250ms;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.todo-actions button {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: #7b61ff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

#tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.operations:hover {
  scale: 1.1;
  cursor: pointer;
  transition-duration: 250ms;
}